.Design__wrapper {
  height: 50dvh;
  justify-content: center;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 400px;
  p {
    color: #787a80;
  }
  h1 {
    font-size: clamp(1.875rem, 1.193rem + 3.41vw, 3.75rem);
  }
}
.DESIGN {
  background-image: url(../img/background1.png);
  background-size: cover;
}

.offer__wrapper {
  display: flex;
  padding: 40px 0;
  gap: 60px;
  align-items: center;
  width: 100%;
  img {
    width: 100%;
  }
  p {
    padding: 20px;
  }
  h4 {
    padding: 20px;
  }
  @media (max-width: 1050px) {
    flex-wrap: wrap;
  }
}

.Do__wrapper {
  display: flex;
  gap: 30px;
  padding: 30px 0;
  flex-direction: column;
}
.number {
  display: flex;
  padding: 30px 0;
  gap: 30px;
  justify-content: space-between;

  @media (max-width: 749px) {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
  }
}

.n1 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-width: 53px;
  gap: 10px;

  p {
    color: #787a80;
    width: 200px;
  }
}

.benefits__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 0 0 0;
  align-items: center;

  h1 {
    color: #ffff;
  }
  p {
    color: #787a80;
  }
  button {
    background-color: #ff5a30;
    color: #ffff;
    width: 280px;
    padding: 10px;
    margin-bottom: -20px;
  }
}
.control {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding: 30px 0;
  justify-content: space-between;

  @media (max-width: 1036px) {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.cost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  img {
    width: 50px;
  }
  p {
    color: #787a80;
    width: 300px;
  }
  h4 {
    color: #ffff;
  }
}

.benefits {
  background-color: #1e212c;
}

.Realated__wrapper {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}
.rooms {
  display: flex;
  gap: 30px;
  padding: 30px 0;
  text-align: center;
  @media (max-width: 1193px) {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.room {
  box-shadow: rgba(0, 0, 0, 0.239) 1px 1px 10px 1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
  width: 100%;
  p {
    color: #787a80;
  }
}
.box777 {
  
  width: 100%;
  align-items: center;
  button {
    background-color: #fff;
    color: #ff5a30;
    border: solid #ff5a30 1px;
    width: 200px;
    padding: 15px 0;
  }
  img{
    width: 100%;
  }
}
.bpx4 {
  display: flex;
  width: 100%;
  gap: 20px;
  padding: 20px;
  justify-content: center;

  button {
    background-color: #ff5a30;
    color: #ffffff;
    border: none;
    width: 200px;
    height: 50px;
    font-size: large;
  }
}

.pricing__wrapper{
  img{
    width: 100%;
  }
}
.registr {
  padding: 70px 0;
  background-image: url(../img/image6.png);
  background-size: cover;
  display: flex;
  align-items: end;
  margin: 30px 0;
}
.registr__wrapper {
  padding: 30px 0;

  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: start;
  align-items: end;
}

.regirst__box {
  gap: 30px;
  padding: 20px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
}
.check {
  display: flex;
  gap: 10px;
}

.inp1 {
  gap: 30px;
  display: flex;
  flex-direction: column;
  input {
    background-color: rgba(128, 128, 128, 0.122);
    border: 1px solid rgba(128, 128, 128, 0.761);
    height: 50px;
  }
}

.buttt {
  background-color: #ff5a30;
  color: #ffffff;
  border: none;
  height: 50px;
  width: 200px;
  font-size: 20px;
}

.foot {
  background-color: black;
}

.foot__wrapper {
  display: flex;
  flex-direction: column;
  p {
    color: #787a80;
    max-width: 400px;
    width: 100%;
  }
}
.foot1 {
  display: flex;
  gap: 30px;
  padding: 30px 0;
}

.fooot1 {
  display: flex;
  button {
    background-color: #ff5a30;
    color: #ffffff;
    border: none;
    height: 40px;
    width: 150px;
  }
}
.fooot {
  display: flex;
  flex-direction: column;
  gap: 10px;
  h1 {
    color: #ffffff;
  }

  p {
    color: #787a80;
  }
}
.foots {
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
  align-items: center;
}

.foots1 {
  display: flex;
  gap: 50px;
  align-items: center;
}
.l1 {
  margin: 20px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  li {
    color: #787a80;
  }

  h4 {
    color: #d7dadd;
  }
}

.foots,
.foots1 {
  flex-wrap: wrap;
}

.foot1,
.fooot1 {
  @media (max-width: 433px) {
    flex-direction: column;
    button {
      width: 100%;
    }
    input {
      padding: 20px;
    }
  }
}

.head{
  position: absolute;
  width: 100%;
}
